on: [push, pull_request]
name: Test usql
jobs:
  test:
    name: Build and Test usql
    runs-on: ubuntu-latest
    services:
      cassandra:
        image: docker.io/usql/cassandra:latest
        ports:
          - 9042:9042
      postgres:
        image: docker.io/usql/postgres:latest
        env:
          POSTGRES_PASSWORD: P4ssw0rd
        ports:
          - 5432:5432
      mysql:
        image: docker.io/library/mariadb
        env:
          MYSQL_ROOT_PASSWORD: P4ssw0rd
        ports:
          - 3306:3306
      sqlserver:
        image: mcr.microsoft.com/mssql/server:2022-latest
        env:
          ACCEPT_EULA: Y
          MSSQL_PID: Express
          SA_PASSWORD: Adm1nP@ssw0rd
        ports:
          - 1433:1433
    steps:
    - name: Install Go
      uses: actions/setup-go@v4
      with:
        go-version: stable
    - name: Install Packages
      run: |
        sudo apt-get -qq update
        sudo apt-get install -y build-essential libicu-dev unixodbc unixodbc-dev
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Unit Tests
      run: go test -v ./stmt
    - name: Build with all drivers
      run: ./build.sh -b -t all
    - name: Shell Tests
      run: go run testcli.go
